a {
	width: 100%;
	text-align: center;
	position: relative;
}

a > .infobox {
	transform: scale(0);
	color: white;
	position: absolute;
	top: 10px;
	left: 100%;
	font-size: large;
	background-color: black;
	padding: 10px;
	border-radius: 10px;
	width: max-content;
	transition: 300ms ease-out;
}

a:hover > .infobox {
	transform: scale(1);
}
