.projectListContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10vw;
	height: 100%;
}

.centerContainer {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

.small {
	height: 80vh;
	width: 90%;
	margin: auto;
}
