/* Base break point. Must contain every classes */
@media only screen and (max-width: 9999999px) {
	:root {
		--sidebar-width: 5%;
		--background-color-darker: #080C14;
		--background-color-dark: #181C24;
		--background-color: #282C34;
		--background-color-light: #383C44;
		--primary-color: #44D62C;
		/*--secondary-color: #44D62C88;*/
		--secondary-color: white;
		--text-color: white;
	}
	/* ScrollBar */
	::-webkit-scrollbar {
		width: 10px;
	}
	::-webkit-scrollbar-track {
		/*box-shadow: inset 0 0 5px grey;*/
		background-color: #33353F;
		border-radius: 15px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: var(--background-color);
		border-radius: 10px;
	}

	* {
		box-sizing: border-box;
	}

	body {
		background-color: var(--background-color);
	}

	#content {
		width: 100%;
		/*padding-left: calc(var(--sidebar-width) + 1rem);*/
		padding-left: var(--sidebar-width);
	}

	p {
		margin: 0;
		color: var(--text-color);
		letter-spacing: 2px;
		word-spacing: 10px;
	}

	.navbar {
		position: fixed;
		width: var(--sidebar-width);
		height: 100vh;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

}

/* Tablets breakpoint */
@media only screen and (max-width: 900px) {
	:root {
		--sidebar-width: 7.5%;
	}
}

/* Phones breakpoint */
@media only screen and (max-width: 600px) {
	.navbar {
		height: var(--sidebar-width);
		width: 100%;
		top: unset;
		bottom: 0;
	}
	.siteContainer {
		display: flex;
		flex-direction: column;
	}
	#content {
		padding-left: 1rem;
		padding-bottom: var(--sidebar-width);
	}
}
